[user]
	email = walter.phillips@ext.airbnb.com
	name = Rusty Phillips
[merge] 
	keepBackup = false
	tool = p4merge 
[mergetool] 
	prompt=false 
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED" 
	keepTemporaries = false 
	trustExitCode = false 
	keepBackup = false 
[diff] 
	tool = p4merge 

[difftool] 
	prompt=false 
	cmd = p4merge "$LOCAL" "$REMOTE" 
	keepTemporaries = false 
	trustExitCode = false 
	keepBackup = false
[push]
	default = current
[core]
	autocrlf = input

[init]
	templateDir = /Users/walter_phillips/.git-templates
[alias]
	ai-msg = "!f() { OCO_API_KEY=\"$(iap-auth https://devaigateway.a.musta.ch)\" oco; }; f"
