[user]
	email = rusty.phillips@flexreceipts.com
	name = Rusty Phillips

[merge] 
	keepBackup = false
	conflictstyle = diff3
	tool = vim_mergetool

[mergetool "vim_mergetool"] 
	prompt=false 
	cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE" 
	keepTemporaries = false 
	trustExitCode = false 

[diff] 
	tool = p4merge 

[difftool] 
	prompt=false 
	cmd = p4merge "$LOCAL" "$REMOTE" 
	keepTemporaries = false 
	trustExitCode = false 
	keepBackup = false
[push]
	default = current
[core]
	autocrlf = input

[init]
	templatedir = ~/.git-templates
